ddgs==9.8.0
easyocr==1.7.2
fitz==0.0.1.dev2
langchain_community==0.4.1
langchain_core==1.2.20
langchain_huggingface==1.2.1
langchain_openai==1.1.11
pandas==3.0.1
python_docx==1.2.0
streamlit==1.50.0
